<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="basicScan.basicScan" android:versionCode="1" android:versionName="1.0">
  <uses-sdk />
  <uses-permission android:name="com.symbol.emdk.permission.EMDK" />
  <application android:label="basicScan" android:icon="@drawable/Icon">
    <uses-library android:name="com.symbol.emdk" />
  </application>
</manifest>